ul{
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
	
}
h1,h2 {
	padding:0;
	margin:0 0 20px 0;
	font-weight:normal;
	
}
p{
	padding:0;
	margin:0 0 20px 0;
	font-weight; normal;
}

a:link, a:visited {
	text-decoration: underline;
	color:#000;

}

a:hover{
	text-decoration:underline;
	color:#000;
}

/*Headers*/
h1{
	font-size:1.8em;
}
h2{
	font-size:1.4em;
}
ul li {
	padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
	width:200px;
}
textarea{
	width:400px;
	height:150px;
}
.logo {
	font:2em Arial;
	margin:0 0 10px 0;
	padding:0;
	width:180px;
	
}

/*containers*/
body {
	
	/*background: url(pict_Vegetables.jpg);    /* image */
	background:red;
	font-family:Arial;
	Font-size:0.9em;

}
#container, footer {
	background: #fff;
	/*width: 920px;*/
	width:800px;
	margin: 0 auto;
	padding: 20px;
}
header {
	width: 940px;
	
	padding:100px;
	margin:0 auto 10px auto;
	
}
#container {
	/*min-height:500px;*/
	min-height:500px;
	border-radius:5px 5px 0 0;
	
}
#containerHeader{
	min-height:500px;
	border-radius:5px 5px 0 0;
}
footer {
	border-radius:0 0 5px 5px;	
}

.widget {
	margin-bottom: 20px;
}
.widget h2 {
	margin:0 0 10px 0;
	padding:0 5px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}
.widget .inner {
	margin:0 10px
}

/*navigation*/
nav {
	float: left;
	font-size:1.1em;
}
nav ul {
	margin: 0;
}
nav ul li {
	display:inline;
	margin-right:10px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}
nav ul li a {
	text-decoration:none;
}
nav ul li.current {
	font-weight:bold;
}
nav ul li a.last {
	boder-right:0;
}

/* aside*/
aside {
	width: 260px;
	height:auto;
	float:right;
	border-left:1px dashed #aaa;
	padding-left:15px;  
}
.profile {
	background: #f9f9f9;
	
	border:1px dashed #ccc;
	padding:5px
}


.profile img {
	width: 100%;
	
}
/* login*/
#login li.link {
	margin-top:5px;
}

/*Footer*/
.footerstyle footer {
	/*border-top:1px dashed #DDDDDD;
	/*color: #999;*/
	background-color:#494949;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}
/*misc*/
.clear{
	clear: both;
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.scroll-top {
   position:fixed;
   bottom:0;
   right:15px;
   z-index:100;
   font-size:24px;
   background-color: #fafafa;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

