body {
/*containers*/	
	/*background: url(pict_Vegetables.jpg);    /* image */
	background: YellowGreen ;
	font-family: arial, sans-serif;
	font-size:12px;
	

}


.widget {
	margin-bottom: 20px;
	font-size: large;
	
}

.widget input{
	width:130px;
	font-size: 14px;
	
}

ul{
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
	
}
h1 {
	padding:0;
	margin:0 0 0 0;
	font-weight:normal;
	font-size:16px;
	width:63%;
	
}

h2 {
	
	font-weight:normal;
	font-size:20px;
	
	
}
p{
	padding:0;
	margin:0 0 20px 0;
	font-weight; normal;
	font-size:16px;
	width:63%;
}

a:link, a:visited {
	text-decoration: underline;
	color:#000;
	font-size:16px;

}

a:hover{
	text-decoration:underline;
	color:#000;
	
}

/*Headers*/

ul li {
	padding:3px 0;
}
ul li input[type="text"], ul li input[type="password"] {
	width:200px;
}
textarea{
	width:400px;
	height:150px;
}
.logo {
	font:2em Arial;
	margin:0 0 10px 0;
	padding:0;
	width:170px;
	float:left;
	
}



#container {
	background: #fff;
	width: 95%;
	margin: 0 auto 0 auto;
	padding: 15px;
	border-radius:10px 10px 10px 10px;
	overflow: auto;
	
    overflow-x: hidden;
    overflow-y: hidden;
    
}	
#containerSearch {
	
	background: #fff;
	width: 63%;
	height: auto;
	padding: 7px;
	margin: 0 0 0 0;
	/*height:250px;*/
	border-radius:5px 5px 5px 5px;
	float: left;
}	

#containerResults {
	background: #fff;
	width: inherit;
	height: 400px;
	padding:10px;
	margin: 0 0 0 0;
	/*height:250px;*/
	border-radius:5px 5px 5px 5px;
	float: left;
	
	/*overflow-y: auto;*/
  
}
	
   /* overflow-x: hidden;*/
    /* overflow: auto;
    overflow-y: hidden;	
    
    overflow: scroll;*/
}	

#lineSpacer {
	width: 100%;
	float: left;
	height:auto;
	padding:15px;
	
}
header {
	/*position:fixed;*/
	height: 70px;
	width: 95%;
	padding: 5 0 0 5;
	/*background-color: powderblue;
	 width: 800px;*/
	margin:0 0 0 0;
	border-radius:5px 5px 5px 5px;
}

#containernav {
	/*height:500px;*/
	height:80px;
	border-radius:5px 5px 0 0;
	
}

.footer {	
	position:fixed;
    width:100%;
    bottom:0;
	right: 0;
	left: 0;
	text-align: center;
	/*width: 920px;
	background-color: powderblue;*/
	
	margin:0 auto 5px auto;
	border-radius:5px 5px 5px 5px;
	background-color:95,95,95;
    color:#ddd;
    height:30px;
    padding:10px;	
	font-weight:bold;
	background-color: #333;

}
#containerTitle {
	/*height:500px;*/
	
	height:90px;
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 5px;
	border-radius:5px 5px 0 0;
	
}

#containerHeader{
	height:80px;
	padding: 5 0 0 5;
	border-radius:5px 5px 0 0;
}

.widget {
	margin-bottom: 20px;
}
.widget h2 {
	margin:0 0 10px 0;
	padding:0 5px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
	
}
.widget .inner {
	margin:0 5px
}

/*navigation*/
nav {
	float: left;
	font-size:1.8em;
}
nav ul {
	margin: 0;
}
nav ul li {
	display:inline;
	/*margin-right:5px;*/
	border-radius:5px 5px 5px 5px;
}

nav ul li a {
	text-decoration:none;
	font-size:20px;
}
nav ul li.current {
	font-weight:bold;
}
nav ul li a.last {
	border-right:0;
}

/* aside*/
aside {
	/*width: 260px;*/
	width:25%;
	height:inherit;
	float:right;
	font-size:large;
	border-left:1px dashed #aaa;
	padding-left:15px;  
}
.profile {
	background: #f9f9f9;
	border:1px dashed #ccc;
	padding:5px
}


.profile img {
	width: 100%;
	
}
/* login*/
#login li.link {
	margin-top:5px;
}


/*misc*/
.clear{
	clear: both;
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    height: auto;
	width: inherit;
	padding: 1 0 1 1;
	
   
	border-radius:10px 10px 10px 10px;
}



.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.scroll-top {
   position:fixed;
   bottom:0;
   right:15px;
   z-index:100;
   font-size:24px;
   background-color: #fafafa;
}

.dropdown {
    float: left;
    overflow: hidden;
    border-radius:5px;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    border-radius:5px;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    border-radius:5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:#FFD699;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 #content {
 	height: 500px;
    width:100%;
	overflow: auto;
   /* overflow-x: hidden;*/
    overflow-y: hidden;	
    
    overflow: scroll;

   }

.bttn-std {
	background-color:#4458D8;
	border-radius: 10px;
	font-size: 16px;
	color: white;
	display: inline-block;
  	padding: 5px 10px;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	box-shadow: 0 3px #999;
  	
  
}
.bttn-std:hover {background-color:#1326A5}

.bttn-std-delete   {
	background-color:red;
	border-radius: 10px;
	font-size: 14px;
	color: white;
	display: inline-block;
  	padding: 10px 10px;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	box-shadow: 0 3px #999; 
}

.bttn-std-done {
	background-color:#14EC2A; /*green*/
	border-radius: 10px;
	font-size: 14px;
	color:#000000;
	display: inline-block;
  	padding: 5px 10px;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	box-shadow: 0 3px #999;
  	font-weight:bold;
  
}

fieldset
{
  background-color:#CCC;
  width:65%;
  padding:2px;	
   border-radius:10px;
}

.SearchBox input
{
font-size: 16px;
}

.SearchBox table
{
	padding:1px;
}
.legend1
{
  	margin-bottom:0px;
  	margin-left:16px;
  	font-size: 20px;
	color: black;
	background-color#FFFFFF;
    font-weight:bold;
    
}

input{
	 border-radius:5px;
	 font-size: 14px;
	 padding:1.5 1.5 1.5 1.5;	
	  
}

.input-sta-pend{
	 border-radius:5px;
	 font-size: 14px;
	 padding: 5px 5px;
	 text-align:center;
	 border: 0.5px;
	 color: #FFFFFF;
	 background-color:red;
     font-weight:bold;
     width: 110px;
	  
}
.input-sta-complete{
	 border-radius:5px;
	 font-size: 14px;
	 padding: 5px 5px;
	 text-align:center;
	 border: 0.5px;	
	 color: black;
	 background-color:#14EC2A;  /*green*/
     font-weight:bold;
     width: 110px;
	  
}
.input-sta-InProcess{
	 border-radius:5px;
	 font-size: 14px;
	 padding: 5px 5px;
	 text-align:center;
	 border: 0.5px;	
	 color: black;
	 background-color:#FFFF00;
     font-weight:bold;
     width: 110px;
	  
}

.thirdTable table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
}


.thirdTable td, th {
	text-align: left;
	border: 1px solid #cecfd5;
  	padding: 5px;
}
.thirdTable tr:nth-child(even){background-color: #f2f2f2}
.thirdTable th {
	background-color: #4CAF50;
	color: black;
}
.thirdTable caption {
	font-weight:bold;
	color: black;
	font-size: 18px;
}

.scroll {
    max-height: 200px;
    overflow: auto;
}
.TableOrders table{
	font-family: arial, sans-serif;
	font-size:14px;
	padding: 5px;
	border-collapse: collapse;
	width:800px;

	
}

.TableOrders  tbody{
	display: block;
	width: inherit;
	height: 300px;
	background: pink;
	overflow: auto;
	
	
}

.TableOrders thead th:nth-child(1) {
  width: 12%;
}
.TableOrders thead th:nth-child(2) {
  width: 4%;
  text-align: center;
}
.TableOrders td:nth-child(2) {
  width:inherit;
  text-align: center;
}
.TableOrders thead th:nth-child(3) {
  width: 20%;
}
.TableOrders tr:nth-child(even){background-color: #f2f2f2}}


.TableOrders thead  th {
	background-color:#5BA1CF;
	color: black;
	padding:  3px;
	text-align: center;
	font-size:16px;
	border:  solid  #636C72;
  	width:auto;
  	word-wrap: break-word;
  	
  	display: block;
	overflow: auto;
	background: #000;
	
	
  	
}
.TableOrders td th {
	text-align: left;
    padding: 8px;
	font-size:14px;
  	word-wrap: break-word;
  	border-left:1px solid #eee;
  	border-bottom:1px solid #eee;
 	background: #ddd;
  	color: #000;
  	padding: 10px 25px;
  	
}

.TableOrders th div{
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #800;
}


.TblOrdrs  table
{
	border-collapse: collapse;
	 table-layout: fixed;
	font-family: arial, sans-serif;
	font-size:14px;
	padding: 5px;
	border-collapse: collapse;
	width:100%;
	border: 1px solid black;
}

.TblOrdrs thead
{
	display: block;
	
	/*width: 500px;*/
	overflow: auto;
	color: #fff;
	/*background: #000;*/
	border: 1px solid black;
	background-color: black;
	color: white;
	padding:  3px;
	text-align:center;
	font-size:16px;
	width:inherit;
  	/*width:97%;*/
  	word-wrap: break-word;
}

.TblOrdrs tbody
{
	display: block;
	width:inherit;
	height: 400px;
	background: white;
	overflow: auto;
	border:  solid  #636C72;
}

.TblOrdrs th,td
{
	text-align: left;
	vertical-align: top;
	white-space: normal;
    word-wrap: break-word;
   
    padding: 3px;
    
}


form input{
	size: 16px;
}